{% extends "base.html" %}

{% block head %}
<style media="screen">
  body {
    background: #f4f4f4 !important;
    padding-top: 56px;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar{
    background: #f4f4f4;
  }

  #content {
    background: transparent !important;
    position: relative;
    float: left;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  #sketch {
    position: relative;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container list-group mx-auto">
  {% for post in posts %}
  <a class="list-group-item list-group-item-action" href="/{{ post['id']}}.html">
    <table class="table table-borderless">
      <tr>
        <th scope="col">
          <td class="align-middle">
            <img class="rounded float-left img-fluid" src="/images/{{ post['id'] }}.gif" style="max-width: 80px; max-height: 80px" hspace='10'>
          </td>
        </th>
        <th scope="col d-flex">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post['title'] }}</h5>
            <small>{{ post['post_date'] }}</small>
          </div>
          <p class="text-left mb-0" style="font-weight:normal"> {{ post['description'] }}</p>
        </th>
      </tr>
    </table>
  </a>
  {% endfor %}
</div>
{% endblock body %}
